thead{
    font-style: italic;
    background-color: paleturquoise;
    /*        border: 1px blue solid;*/
}
.tableborder{
    border: 1px #d9edf7 solid;
}
.smalltext{
    font-size: 75%
}
html {
    height: 100%;
    width: 98%;
    margin: auto;
}
body {
    font-family: "Open Sans","Helvetica Neue",Arial,sans-serif;
    height: 100%;
    margin-bottom: 30px;

}
tr{
    font-size: 120%;
}
.footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    /* Set the fixed height of the footer here */
    height: 30px;
    width: 99%;
    background-color: #d9edf7;
}